@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}

button {
  font-family: 'Quicksand', sans-serif;
  border: none;
  height: 56px;
  width: fit-content;
  outline: none;
  cursor: pointer;
  padding: 0 20px;
  border-radius: 8px;
  background: #4DA44E;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #1B1C20;
    background: white;
  }
}